<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{index :: head}"></head>
<body>
    <nav th:replace="~{index :: navbar}"></nav>

    <div class="vh-100">
        <div class="container">
            <div class="row col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Registration</h2>
                    </div>
                    <div th:if="${param.success}">
                        <div class="alert alert-info">
                            You have successfully registered to our app!
                        </div>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/register/save}" method="post" role="form" th:object="${user}">
                            <div class="form-group mb-3">
                                <label for="firstName" class="form-label">First Name</label>
                                <input type="text" id="firstName" class="form-control" name="firstName" placeholder="John" th:field="*{firstName}">
                            </div>
                            <div class="form-group mb-3">
                                <label for="lastName" class="form-label">Last Name</label>
                                <input type="text" id="lastName" class="form-control" name="lastName" placeholder="Doe" th:field="*{lastName}">
                            </div>
                            <div class="form-group mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" id="email" class="form-control" name="email" placeholder="john@doe.eng" th:field="*{email}">
                                <p th:errors="*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}"></p>
                            </div>
                            <div class="form-group mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" id="password" class="form-control" name="password"  th:field="*{password}">
                                <p th:errors="*{password}" class="text-danger" th:if="${#fields.hasErrors('password')}"></p>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Register</button>
                                <span>Already Registered? <a th:href="@{/login}">Login here</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer th:replace="~{index :: footer}"></footer>
    <script th:replace="~{index :: script}"></script>
</body>
</html>