<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{index :: head}"></head>
<body>
    <nav th:replace="~{index :: navbar}"></nav>

    <header>
        <h1 class="text-center">Richiesta</h1>
    </header>


    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 d-flex flex-column">
                <h2 class="text-center" th:text="${request.user.username}"></h2>
            </div>

            <div class="col-12 col-md-8 d-flex flex-column align-items-center">
                <p th:text="${request.body}">Body</p>

                <div class="d-flex">
                    <form th:action="@{/operations/career/request/accept/{id}(id=${request.id})}" method="post">
                        <button type="submit" class="btn btn-primary m-2">Accetta</button>
                    </form>

                    <a th:href="@{/admin/dashboard}" class="btn btn-primary m-2">Torna indietro</a>
                </div>

            </div>

        </div>

    </div>


    <footer th:replace="~{index :: footer}"></footer>
    <script th:replace="~{index :: script}"></script>
</body>
</html>