<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{index :: head}"></head>
<body>
    <nav th:replace="~{index :: navbar}"></nav>

    <div class="vh-100">
        <div class="container">
            <div class="row">
                <div class="col-12 justify-content-between align-items-center">
                    <div class="d-flex justify-content-center justify-content-md-start ">
                        <h1 th:text="${title}">[Inserisci un articolo]</h1>
                    </div>
                </div>

                <div class="col-12 my-5">
                    <form th:action="@{/articles}" method="post" th:object="${article}" enctype="multipart/form-data">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="articleTitle" class="form-label">Titolo</label>
                                <input type="text" id=articleTitle class="form-control" th:field="*{title}" placeholder="Inserisci un articolo...">
                                <p th:errors="*{title}" class="text-danger" th:if="${#fields.hasErrors('title')}"></p>
                            </div>
                            <div class="col">
                                <label for="articleSubtitle" class="form-label">Sottotitolo</label>
                                <input type="text" id=articleSubtitle class="form-control" th:field="*{subtitle}" placeholder="Inserisci un sottotitolo...">
                                <p th:errors="*{subtitle}" class="text-danger" th:if="${#fields.hasErrors('subtitle')}"></p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="body" class="form-label">Descrizione</label>
                            <textarea id="body" class="form-control" placeholder="Inserisci una descrizione..." th:field="*{body}"></textarea>
                            <p th:errors="*{body}" class="text-danger" th:if="${#fields.hasErrors('body')}"></p>
                        </div>
                        <div class="mb-3">
                            <label for="date" class="form-label">Data di pubblicazione</label>
                            <input id="date" type="date" class="form-control" th:field="*{publishDate}" placeholder="yyyyMMdd">
                            <p th:errors="*{publishDate}" class="text-danger" th:if="${#fields.hasErrors('publishDate')}"></p>
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Categoria</label>
                            <select id="category" th:field="*{category}" class="form-select">
                                <option th:each="category:${categories}"  th:value="${category.id}" th:text="${category.name}"></option>
                            </select>
                        </div>
                        <div class="">
                            <label for="image" class="form-label">Immagine</label>
                            <input type="file" name="file" id="image" class="form-control">
                        </div>
                        <div class="mt-5 d-flex justify-content-center d-md-block ">
                            <button type="submit" class="btn btn-success">Crea articolo</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{index :: footer}"></footer>
    <script th:replace="~{index :: script}"></script>
</body>
</html>