<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{index :: head}"></head>
<body>
    <nav th:replace="~{index :: navbar}"></nav>

    <div class="container-fluid p-5 bg-secondary-subtle text-center">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="text-center">Modifica articolo</h1>
                <h2 th:text="${article.title}">[titolo]</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 my-5">
                <form th:action="@{/articles/update/{id}(id=${article.id})}" method="post" th:object="${article}" enctype="multipart/form-data">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="articleTitle" class="form-label">Titolo</label>
                            <input type="text" id="articleTitle" class="form-control" th:field="*{title}" placeholder="Inserisci un titolo...">
                            <p th:errors="*{title}" class="text-danger" th:if="${#fields.hasErrors('title')}"></p>
                        </div>
                        <div class="col">
                            <label for="subtitle" class="form-label">Sottotitolo</label>
                            <input type="text" id="subtitle" class="form-control" th:field="*{subtitle}" placeholder="Inserisci un sottotitolo...">
                            <p th:errors="*{subtitle}" class="text-danger" th:if="${#fields.hasErrors('subtitle')}"></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="body" class="form-label">Articolo</label>
                        <input type="text" id="body" class="form-control" th:field="*{body}" placeholder="Inserisci un testo">
                        <p th:errors="*{body}" class="text-danger" th:if="${#fields.hasErrors('body')}"></p>
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">Publish Date</label>
                        <input type="date" id="date" class="form-control" th:field="*{publishDate}" placeholder="yyyyMMdd">
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Category</label>
                        <select id="category" th:field="*{category}" class="form-select">
                            <option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                            <p class="text-danger" th:errors="*{category}" th:if="${#fields.hasErrors('category')}"></p>
                        </select>
                    </div>
                    <div class="mb-3 d-flex flex-column" th:if="${article.image != null}">
                        <label for="image" class="form-label">Immagine dell'articolo</label>
                        <img th:src="${article.image.path}" alt="foto custom" id="image">
                    </div>
                    <div th:unless="${article.image != null}">
                        <p>Immagine non presente</p>
                    </div>
                    <div class="mb-3">
                        <label for="newImg" class="form-label">Image</label>
                        <input type="file" id="newImg" name="file" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-success">Modifica articolo</button>
                </form>
            </div>
        </div>
    </div>

    <footer th:replace="~{index :: footer}"></footer>
    <script th:replace="~{index :: script}"></script>
</body>
</html>
